<div class="sidenav">
  <ul>
    <p>Main</p>
    <li>
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#paint"></use>
        </svg>
        UI kit
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#scatter"></use>
        </svg>
        Typography
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#list"></use>
        </svg>
        Components
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#filter"></use>
        </svg>
        Icons
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#portrait"></use>
        </svg>
        Forms
      </a>
    </li>
  </ul>
  <ul>
    <p>More</p>
    <li><a href="#">Icon</a><a href="#">Tables</a></li>
    <li><a href="#">Icon</a><a href="#">Charts</a></li>
    <li><a href="#">Icon</a><a href="#">Maps</a></li>
    <li><a href="#">Icon</a><a href="#">Mail</a></li>
  </ul>
  <ul>
    <p>Extras</p>
    <li><a href="#">Icon</a><a href="#">Pages</a></li>
    <li><a href="#">Icon</a><a href="#">Extras</a></li>
    <li><a href="#">Icon</a><a href="#">Multi level</a></li>
  </ul>
</div>
