<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {{#is default.lang 'lt'}}
        <link rel="stylesheet" href="../assets/css/app.css">
        {{else}}
        <link rel="stylesheet" href="assets/css/app.css">
        {{/is}}
        <title>Login</title>
    </head>
    <body>
        {{body}}

        <div class="svg-sprite-container">{{> 'sprite.symbol' }}</div>

        <script type="text/javascript" src="assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/popper.js/dist/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>
    </body>
</html>
