<div class="gaidys">
  <div class="welcome">
    <p>Welcome!</p>
    <p>Minton/Dashboard</p>
  </div>
  <div class="main-container">
    <div class="top-containers">
      <div class="top-first-container">
        <p>first</p>
      </div>
      <div class="top-second-container">
        <p>second</p>
      </div>
      <div class="top-third-container">
        <p>third</p>
      </div>
      <div class="top-fourth-container">
        <p>fourth</p>
      </div>
    </div>
  </div>
</div>
