<div class="body">
  <div class="welcome">
    <p>Welcome!</p>
    <p>Minton / Dashboard</p>
  </div>
  <div class="main-container">
    <div class="containers">
      <div class="top-container">
        <a class="top-container__elements top-container__elements--left" href="#">
          Icon
        </a>
        <div class="top-container__elements top-container__elements--right">
          <div class="top-container__elements--right--numbers">64.570</div>
          <div class="top-container__elements--right--text">Today's Visits</div>
        </div>
      </div>
      <div class="top-container">
        <a class="top-container__elements top-container__elements--left" href="#">
          Icon
        </a>
        <div class="top-container__elements top-container__elements--right">
          <div class="top-container__elements--right--numbers">31.570</div>
          <div class="top-container__elements--right--text">Total Revenue</div>
        </div>
      </div>
      <div class="top-container">
        <a class="top-container__elements top-container__elements--left" href="#">
          Icon
        </a>
        <div class="top-container__elements top-container__elements--right">
          <div class="top-container__elements--right--numbers">280</div>
          <div class="top-container__elements--right--text">Today's Sales</div>
        </div>
      </div>
      <div class="top-container">
        <a class="top-container__elements top-container__elements--left" href="#">
          Icon
        </a>
        <div class="top-container__elements top-container__elements--right">
          <div class="top-container__elements--right--numbers">0.16%</div>
          <div class="top-container__elements--right--text">Conversion</div>
        </div>
      </div>
    </div>
    <div class="containers">
      <div class="middle-container">
        <div class="">
          <div class="">
            YEARLY SALES REPORT
          </div>
        </div>
        <div class="">
          Chart
        </div>
      </div>
      <div class="middle-container">
        <div class="">
          TOTAL REVENUE
        </div>
        <div class="">
          Chart
        </div>
      </div>
      <div class="middle-container">
        <div class="">
          TOTAL REVENUE
        </div>
        <div class="">
          Chart
        </div>
      </div>
    </div>
    <div class="containers">
      <div class="bottom-container__left">
        <div class="">
          LATEST PROJECTS
        </div>
      </div>
      <div class="bottom-container__right">
        <ul class="bottom-container__right__lists">
          <li class="bottom-container__right__lists--list">
            First list
          </li>
          <li class="bottom-container__right__lists--list">
            Second list
          </li>
          <li class="bottom-container__right__lists--list">
            Third list
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
