@mixin default-button ($button-background: $default-btn, $height: 50px){
    background-color: $button-background;
    width: 100%;
    height: $height;
    line-height: $height;
    color: #fff;
    border: 0;
    border-radius: 100px;
    -webkit-transition: $transition;
    transition: $transition;
    text-decoration: none;
    text-align: center;
    &:hover {
        -webkit-filter: brightness(85%);
                filter: brightness(85%);
    }
    &:focus {
        outline: none;
    }
}

.button {
    @include default-button();
    &--full-width {
        width: 100%;
    }
}
