.side-menu {
  position: fixed;
  top: $nav-height;
  height: 100%;
  background: white;
  width: $nav-left-width;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
  overflow: scroll;
  padding: 20px 0 80px;
  &__lists {
    &__list {
      padding: 12px;
      font-size: 12px;
      position: relative;
      border-left: 3px solid white;
      &:hover {
          a {
              color: $default-bg;
          }
      }
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none;
        cursor: pointer;
        color: $text-color;
        svg {
          fill: $mid-gray;
          margin-right: 10px;
        }
      }
      &:after {
        @include arrow($rotate: -45deg);
      }
      &.active {
          border-color: $default-bg;
          background-color: $light-gray;
          &:hover {
              text-decoration: none;
          }
      }
    }
    &__title {
      padding: 12px 20px;
      font-size: 12px;
    }
  }
}
